<ul>
    <p>Variável de instância: <%=@nome%></p>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Tipos de Mineração", mining_types_path %>
    </li>
    <p>Ambiente de <%= ambiente_rails %></p>
</ul>